<header class="main-header">
    <div class="header-container">
        <div class="logo">
            <%= link_to "My Fashion", posts_path, class: "logo-link" %>
        </div>
        <nav class="header-nav">
            <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
            <%= link_to "マイページ", "#", class: "nav-link" %>
            <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </nav>
    </div>
</header>
