<h1>Welcome</h1>
<h2>My Fashionにようこそ
    <br>
    お気に入りのコーディネート写真をシェアして毎日の生活をもっと楽しく
</h2>
<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>※投稿写真一覧表示予定
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
    さらにコーディネートがみたい方は、
    <%= link_to "こちら", new_user_registration_path %>
    </div>
</div>
