<p><%= @resource.name %>様</p>

<p>以下のリンクをクリックしてメールアドレスの変更を完了してください：</p>

<p><%= link_to 'メールアドレス変更を確認する',
            confirm_email_change_url(confirmation_token: @token) %></p>

<p>このリンクは24時間有効です。</p>
