<br>
<p><%= @resource.name %>様</p>

<p>平素はご利用いただきありがとうございます。</p>

<p>本メールは、パスワード再設定をご希望された方にお送りしています。</p>
<br>
<p>パスワードの再設定をご希望の方は、以下の【パスワードを再設定する】をクリックし新しいパスワードをご登録ください。</p>

<p>※6時間以内にパスワードの再設定を行なってください。</p>

<p>※6時間を過ぎてしまった場合は、お手数ですが再度、再設定リクエストを行ってください。</p>

<p>※パスワードリセットの申請に心当たりがない場合は、以降の対応は不要となります。</p>

<p><%= link_to '【パスワードを再設定する】', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p>引き続き、ご愛顧のほどよろしくお願い申し上げます。</p>